@model Vehicle

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/vehicle","Vehicles"),
    ("","Create")
}) />


<h3 class="my-4">Create Vehicle</h3>

<div class="card rounded shadow p-3">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mt-3">
            <label asp-for="Make" class="form-label"></label>
            <input asp-for="Make" class="form-control"/>
            <span asp-validation-for="Make" class="text-danger"></span>
        </div>
    
        <div class="mt-3">
            <label asp-for="Model" class="form-label"></label>
            <input asp-for="Model" class="form-control"/>
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>

        <div class="row mt-3">
            <div class="col">
                <label asp-for="Year" class="form-label"></label>
                <input asp-for="Year" class="form-control"/>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>

            <div class="col">
                <label asp-for="RegistrationNo" class="form-label"></label>
                <input asp-for="RegistrationNo" class="form-control"/>
                <span asp-validation-for="RegistrationNo" class="text-danger"></span>
            </div>
        </div>

        <div class="mt-3">
            <label asp-for="FuelType" class="form-label"></label>
            <input asp-for="FuelType" class="form-control"/>
            <span asp-validation-for="FuelType" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label asp-for="Transmission" class="form-label"></label>
            <input asp-for="Transmission" class="form-control"/>
            <span asp-validation-for="Transmission" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label asp-for="CC" class="form-label"></label>
            <input asp-for="CC" class="form-control"/>
            <span asp-validation-for="CC" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label asp-for="NoofDoors" class="form-label"></label>
            <input asp-for="NoofDoors" class="form-control"/>
            <span asp-validation-for="CC" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label asp-for="MOTDue" class="form-label"></label>
            <input asp-for="MOTDue" readonly="true" class="form-control"/>
            <span asp-validation-for="MOTDue" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label asp-for="CarPhotoUrl" class="form-label"></label>
            <input type="url" asp-for="CarPhotoUrl" class="form-control"/>
            <span asp-validation-for="CarPhotoUrl" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <input type="submit" value="Create" class="btn btn-primary"/>
            <a class="btn btn-secondary" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 